@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f6f5e9;
  overflow-x: hidden;
}
.sidepat {
  background-image: url("./SVG/side.svg");
  background-size: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  /* background-attachment: fixed; */
  background-repeat: repeat-y;
  background-position: right;
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} /* 
body {
  overflow-x: hidden;
} */

/* .app {
  border-image: url("./SVG/side.svg") 30;
} */
